<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648097100167-l9p40u5cltqk1h669tit8ril491fv2de.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648097100167-l9p40u5cltqk1h669tit8ril491fv2de</string>
	<key>API_KEY</key>
	<string>AIzaSyCdj7KNhorqLpfubQ7f6wJsAsuhTQC_bTQ</string>
	<key>GCM_SENDER_ID</key>
	<string>648097100167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hydrolyte</string>
	<key>PROJECT_ID</key>
	<string>hydrolyte-9a9ec</string>
	<key>STORAGE_BUCKET</key>
	<string>hydrolyte-9a9ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:648097100167:ios:1101edf28c7f376b57e322</string>
</dict>
</plist>